html {
  height: 100%
}
body {
  width: 100%;
  margin: 0px;/*
  padding: 0px;*/
}
#app-container{
  width:100%;
  position:relative;
  float:bottom;
  overflow:auto;
}
#map-canvas {
  height: 60%;
  width:100%;
  position:relative;
  float:bottom;
  display:block;
  left:0px;
  top:0px;
}
#banner {
  position:absolute;
  bottom:0px;
  color: rgb(103, 199, 236);
  height:20px;
}
#chat-container {
  height:40%;
  width:100%;
  position:relative;
  bottom:0px;
  float:bottom;
  background-color:grey;
  border-top: 8px rgb(171, 223, 228);
}
#input-container{
  height:18%;
  position:relative;
  float:bottom;
  background-color: black;
}
#input-frame{
  position:relative;
  height:74%;
  width:84%;
  top:12.5%;
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  background-color: white;
  border-radius: 10px;
  overflow:auto;
}
#chat-input {
  padding:1.4%;
  font-size:15px;
  height:100%;
  width:100%;
  margin:auto;
  position:relative;
<<<<<<< HEAD
  text-align:center;
  white-space: nowrap;
  /*display: inline-block;*/
  overflow:auto;
}
#send-button {
  cursor:default;
  user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  
  position:absolute;
  top:0px;
  display:inline-block;
  margin:auto;
  text-align:center;
  height:75%;
  line-height: 34px;
  top:12.5%;
  background-color: lightgreen;
  border-radius: 10px;
  width: 10%;
}
#send-button:active{
  background-color: gold;
}
#chat-log {
  border-top: 1px solid lightgrey;
  padding-bottom: 0px;
  height:82%;
  position:relative;
  background-color: rgb(171, 223, 228);
  text-align:auto;
  overflow:auto;
}
.messageContainer{
  width:100%;
  float:top;
  padding-bottom:1px;
  background-color: rgb(171, 223, 228);
}
.icon{
  width:20px;
  height:20px;
  position:relative;
  left:0px;
  float:left;
  background-color: teal;
  border-right:1px solid black;
}
.message{
  text-align: left;
  border-radius: 10px;
  text-align: left;
  line-height:20px;
  background-color: rgb(255, 252, 252);
  padding: 8px;
  margin-top: 3px;
  margin-left: 2%;
  margin-right: 2%;
}
