html {
  height: 100%
}
body {
  width: 100%;
  margin: 0px;/*
  padding: 0px;*/
}
#app-container{
  width:100%;
  position:relative;
  float:bottom;
  overflow:auto;
}
#map-canvas {
  height: 60%;
  width:100%;
  position:relative;
  float:bottom;
  display:block;
  left:0px;
  top:0px;
}
#banner {
  position:absolute;
  bottom:0px;
  color: rgb(103, 199, 236);
  height:20px;
}
#chat-container {
  height:40%;
  width:100%;
  position:relative;
  bottom:0px;
  float:bottom;
  background-color:grey;
  border-top: 8px rgb(103, 199, 236);
}
#input-container{
  height:20%;
  position:relative;
  float:bottom;
  border-top:1px solid lightgrey;
  background-color: rgb(88, 200, 211);
}
#send-button{
  line-height: 35px;
  position:relative;
  display:inline-block;
  margin:auto;
  text-align:center;
  vertical-align: auto;
  height:70%;
  top:15%;
  width: 10%;
  background-color: lightgreen;
  margin-left:2%;
  margin-right:2%;
  border-radius: 10px;
  overflow:auto;
}
#input-frame{
  position:relative;
  height:70%;
  width:75%;
  top:15%;
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  background-color: white;
  border-radius: 10px;
  overflow:auto;
}
#chat-input {
  padding:5px;
  font-size:15px;
  height:100%;
  width:100%;
  margin:auto;
  position:relative;
  text-align:center;
  /*display: inline-block;*/
  overflow:auto;
}
#chat-log {
  border-top: 1px solid lightgrey;
  padding-bottom: 0px;
  height:80%;
  position:relative;
  background-color: rgb(171, 223, 228);;
  text-align:center;
  overflow:auto;
}
.messageContainer{
  width:100%;
  float:top;
  padding-bottom:1px;
  background-color: rgb(171, 223, 228);;
}
.icon{
  width:20px;
  height:20px;
  position:relative;
  left:0px;
  float:left;
  background-color: teal;
  border-right:1px solid black;
}
.message{
  text-align: center;
  border-radius: 10px;
  width: auto;
  text-align: left;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  line-height:20px;
  background-color: rgb(253, 252, 242);
  padding: 8px;
  margin-left: 2%;
  margin-right: 2%;
}
.message:hover{
  background-color: rgb(214, 238, 203);
}
.message:click{
  background-color: rgb(214, 238, 203);
}
